# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

ENVIRONMENT="development"
DATABASE_PROVIDER="postgres"
DATABASE_URL="postgresql://admin:admin@localhost:5432/dev_db?schema=public"
PORT=3000
HOST="localhost"
ORIGINS="http://localhost:4200"
RATE_LIMIT_WINDOWS=300000
RATE_LIMIT_MAX=500

# node -e "console.log(require('crypto').randomBytes(64).toString('base64'));"
JWT_SECRET=""
EXPIRESIN_ACCESS="8h"
# node -e "console.log(require('crypto').randomBytes(64).toString('base64'));"
JWT_VERIFICATION_TOKEN_SECRET=""
JWT_VERIFICATION_TOKEN_EXPIRATION_TIME="30m"
# node -e "console.log(require('crypto').randomBytes(64).toString('base64'));"
JWT_REFRESH_TOKEN_SECRET=""
EXPIRESIN_REFRESH="1d"

EMAIL_CONFIRMATION_URL="http://localhost:4200/confirm-account"
RECOVERY_ACCOUNT_URL="http://localhost:4200/password-change"

ADMIN_PASSWORD="1234567890Az*"

SWAGGER_VERSION="1.0.0"
APP_NAME="OpenAPI Swagger | Application v1.0 Rest API"

MAIL_USER="support@application.com"
MAIL_FROM="support@application.com"

HEADER_KEY_API_KEY="X-API-KEY"
# node -e "console.log(require('crypto').randomBytes(32).toString('base64'));"
WEB_APP_API_KEY=""
# node -e "console.log(require('crypto').randomBytes(32).toString('base64'));"
MOBILE_APP_API_KEY=""

PINO_LOG_LEVEL="info"
